@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #ffffff;
}

.gallery-list {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
  font-size: 12px;
  line-height: 2;
}

.gallery-text span {
  font-weight: 600;
  line-height: 1.33;
}

.gallery-text li {
  text-align: center;
}

.js-search-form {
  padding-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  padding: 8px 16px;
  margin-left: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}

.search-input {
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
}

.search-input:focus::placeholder {
  color: transparent;
}

.sl-wrapper {
  background-color: rgba(246, 246, 254, 0.5);
}

.simple-lightbox>button.sl-close,
.simple-lightbox>div.sl-counter,
.simple-lightbox>.sl-navigation>button.sl-next,
.simple-lightbox>.sl-navigation>button.sl-prev {
  color: #2e2f42;
}

.loader-wrapper {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-wrapper.is-hidden {
  display: none;
}

.loader-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-wrapper.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #242424;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-container {
  padding-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-btn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #6c8cff;
}

.load-more-btn.is-hidden {
  display: none;
}